.nav {
  max-width: 1440px;
  height: 88px;
  margin: 0 auto;
}

.nav__content {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}


.nav__src {
  align-items: center;
  justify-content: center;
  max-width: 267px;
  height: 32px;
  align-items: center;
  display: flex;
  gap: 15px;
}

.nav__src>small {
  margin-bottom: 5px;
}


.articles {
  margin: 0 auto;
  max-width: 1110px;
  height: 1067px;

}


.articles__box {
  display: flex;
  margin-bottom: 10px;
}

.box__card {
  margin: 0 auto;
  max-width: 354px;
  height: 456px;
}

.section {
  max-width: 1440px;
  height: 487px;
  margin: 0 auto;
}

.section>img {
  margin-left: 150px;
}


.section5 {
  max-width: 1440px;
  height: 1800px;
}

.section5>h3 {
  font-size: 24px;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

.wr__card {
  max-width: 1030px;
  height: 250px;
  display: flex;
  margin-bottom: 56px;
}

.card__content {
  margin-left: 32px;
  width: 100%;
  max-width: 553px;
  height: 189px;
}

.card__content>h3 {
  font-size: 30px;
}

.knop {
  background: #0D6EFD;
  padding: 16px 72px 16px 72px;
  font-size: 23px;
  color: white;
  border: none;
  border-radius: 3px;
  margin-left: 450px;
  cursor: pointer;
}

.search {
  max-width: 1110px;
  height: 354px;
  background: #0D6EFD;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}

.search>h3 {
  margin-top: 77px;
  max-width: 400px;
  width: 100%;
  font-size: 40px;
  color: white;
  text-align: center;
  text-wrap: wrap;
}

.searc {
  max-width: 367px;
  height: 48px;
  width: 100%;
  background: #000;
  display: flex;
  margin-right: 100px;
}

button {
  padding: 10px 20px 10px 20px;
  background: #0D6EFD;
  border: 1px solid white;
  border-radius: 0 3px 3px 0 ;
}

input {
  border: none;
  padding: 12px 273px 12px 16px;
  border-radius: 3px 0 0 3px ;
  
}

input>img{
  color: white;
}

.search>p{
  color: white;
  font-size: 12px;
}

.futer{
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.futer__content{
  width: 100%;
  max-width: 1110px;
  height: 152px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}

.futer__text{
  width: 100%;
  max-width: 165px;
  height: 152px;
}

.futer__text>p>a{
  text-decoration: none;
  color: #807E7E;
}


.input{
  width: 100%;
  cursor: pointer;
}

.futer__logo{
  margin-top: 72px;
  width: 100%;
  max-width: 1110px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

